@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d5dddd;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}


nav,
.nav-links {
  display: flex;
}
header{
  background-color: #90a7ac;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  padding: 10px;
}

a:hover {
  color: #606669;
  text-decoration-color: aliceblue;
  color: aliceblue;
}

.logo {
  font-size: 2rem;

}

.logo:hover {
  cursor: default;
}

.mobile {
  position: fixed;
  top: 0px;
  right: 0px;

}

.mobile button{
  display: none;
}
.menu-icone {
  display: flex;
  background-color: #024959;
  padding: 5px;
  border-radius: 5px;
  
}
  

@media screen and (max-width: 1000px) {
  #desktop-nav {
    justify-content: space-between;

  }
  .nav-links {
    display: none;
  
  }
  .menu-icone {
    display: flex;

  }
  .mobile button {
   display: flex;
  }
 header {
  background-color: #d5dddd;
 }

}
@media screen and (max-width: 1000px) {
#perfil {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
#perfil-ft {
  margin: auto;
  width: 100px;
  height: 100px;
}




}
.foto-espaco {
  width: 100%;
  height: auto;
}
.perfil-ft{
  max-width: 100px;
}

.lista:hover{
  background-color: #606669;
  color: aliceblue;
  
}

.lista {
  padding:5vh;
  padding-inline: 100vh;

}

.menu-mobile.ativo {
  display: inline-flex;
  flex-direction: column;
  padding-block: 100vw;
  
  align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
  padding-top: 10vh;

}
.menu-mobile.ativo :hover {
  background-color: #024959;
  color: azure;
}
.menu-mobile {display: none;
  padding-inline: ;
}




section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

#perfil {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.foto-espaco {
  display: flex;
  margin-top: 10vh;
  width: 400px;
}

.texto {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.texto-02 {
  text-align: center;
  color: #024959;
}

.texto-03 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #024959;
}

.Titulo {
  font-size: 3rem;
  text-align: center;
}

#Social {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;  

}

.btn-cor-1,
.btn-cor-2 {
border: 0.1rem solid;
}
.btn-cor-1,
.btn-cor-2{
  border-color: rgb(53, 53, 53);
}
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#Sobre-mim {
  display: block;
  margin: auto;
  text-align: center;
}

.sobre-container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.Sobre-detalhes-container {
  padding: 15%;
  display: flex;
  justify-content: space-around;
}
table {
  border-radius: 2rem;
  margin: 20px;
  border: rgb(53, 53, 53) 0.1rem solid
}

.sobre-mim {
  max-width:  700px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
.my-history {
  padding: 50px;
}

.experiencias {
  text-align: center;
  margin: auto;
  padding-top: 10vh;
}


